<div class="login-panel">
  <h3>Login here</h3>
  <div class="login">
    <form (ngSubmit)="login()">
      <label>Mail:</label>
      <input type="text" [(ngModel)]="loginData.mail" name="mail" placeholder="Enter mail" class="input">
      <label>Password:</label>
      <input type="password" [(ngModel)]="loginData.password" name="password" placeholder="Enter password" class="input">
      <input type="submit" value="Login" class="button-class">
      <label>{{loginInfo}}</label>
    </form>
  </div>
  <div class="register">
    <input type="button" (click)="register()" value="Register" class="button-class">
  </div>
</div>
